<nav id="header" class="fixed z-30 top-0 left-0 right-0 bg-brand-creme bg-opacity-80 flex items-center sm:h-40 transition-[height]" data-nav-target="header">
  <div class="container mx-auto flex flex-wrap items-center justify-between mt-0 py-4 md:py-2">
    <div class="pl-4 flex items-center">
      <a class="text-white no-underline hover:no-underline font-bold text-2xl md:text-4xl" href="/">
        <img src="/assets/images/full-logo.svg" alt="forefront" class="h-8">
      </a>
    </div>
    <div class="block md:hidden pr-4">
      <div class="flex justify-center">
        <div x-data="{
                  open: false,
                  toggle() {
                      if (this.open) {
                          return this.close()
                      }

                      this.$refs.button.focus()

                      this.open = true
                  },
                  close(focusAfter) {
                      if (! this.open) return

                      this.open = false

                      focusAfter && focusAfter.focus()
                  }
              }" x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button']" class="relative">
          <!-- Button -->
          <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')"
            type="button" class="px-5 py-2.5">
            <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>

          <!-- Panel -->
          <div x-ref="panel" x-show="open" x-transition.origin.top.right x-transition.enter.duration.700ms x-transition.leave.duration.300ms x-on:click.outside="close($refs.button)"
            :id="$id('dropdown-button')" style="display: none;"
            class="absolute right-0 mt-2 w-80 bg-white rounded-md shadow-md overflow-hidden border-gray-200">
            <div>
              <a href="/about" class="block w-full px-4 py-2 text-left text-2xl hover:bg-brand-too-blue hover:bg-opacity-10 hover:text-brand-too-blue">
                About
              </a>

              <a href="/services" class="block w-full px-4 py-2 text-left text-2xl hover:bg-brand-too-blue hover:bg-opacity-10 hover:text-brand-too-blue">
                Services
              </a>

              <a href="/contact" disabled class="block w-full px-4 py-2 text-left text-2xl hover:bg-brand-too-blue hover:bg-opacity-10 hover:text-brand-too-blue">
                Contact
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full flex-grow md:flex md:items-center md:w-auto hidden mt-2 md:mt-0 md:bg-transparent text-black p-4 md:p-0 z-20"
      id="nav-content">
      <ul class="list-reset md:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a class="inline-block border-b-2 border-transparent no-underline hover:border-brand-too-blue-dark text-brand-too-blue hover:text-brand-too-blue-dark py-2 px-4 text-lg uppercase tracking-widest font-medium"
            href="/about">About</a>
        </li>
        <li class="mr-3">
          <a class="inline-block border-b-2 border-transparent no-underline hover:border-brand-too-blue-dark text-brand-too-blue hover:text-brand-too-blue-dark py-2 px-4 text-lg uppercase tracking-widest font-medium"
            href="/services">Services</a>
        </li>
        <li class="mr-3">
          <a class="inline-block border-b-2 border-transparent no-underline hover:border-brand-too-blue-dark text-brand-too-blue hover:text-brand-too-blue-dark py-2 px-4 text-lg uppercase tracking-widest font-medium"
            href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
