<head>
  <meta charset="UTF-8" />
  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    name="description" />
  <meta content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" name="keywords" />
  <meta name="author" content="SALT Insure, Inc" />

  <!-- Facebook -->
  <meta content="en_US" property="og:locale">
  <meta content="article" property="og:type">
  <meta content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title">
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  <meta property="og:image"
    content="{%if page.image %}{{ page.image }}{% else %}{{ site.url }}{{ site.image }}{% endif %}" />
  <meta content="Salt Insure" property="og:site_name">
  <meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    property="og:description">

  <!-- Twitter -->
  <meta content="summary_large_image" name="twitter:card" />
  <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta content="summary" name="twitter:card">

  <link rel="stylesheet" href="https://use.typekit.net/jzb3mur.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script type="module" src="{{ site.baseurl }}/assets/javascript/site.js"></script>
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" />
</head>
